.vscode
teacher_dir/resnet_56.pt
teacher_dir/resnet_56_cifar100.pt
teacher_dir/resnet_110.pt
teacher_dir/resnet50-19c8e357.pth
weight

AppData/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
Pictures/
Videos/
Saved Games/
Searches/
NTUSER*
ntuser*
*.pub
.vscode/
.ipython/
.kaggle/
.keras/
.matplotlib/
.ssh/
.gitconfig
.lesshst
PycharmProjects/
Obsidian/
OneDrive/
scikit_learn_data/
KDFS-Pearson/